#extra-emphasis {
  font-style: italic;
  font-weight: bold;
}

.img{
  margin: 3px;
  padding: 3px;
  max-width: 100%;
}

.mr-3{
  max-width: 64px;
  max-height: 64px;
}

.jumbotron{
  text-align: center;
  background-color: #132354;
  color: #ffffff;
}
